@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1E1E1E;
  color: white;
}

[data-theme='dark'], [data-theme='dark'] body {
  background-color: white;
  color: #1E1E1E;
}